<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm41DL_X-SFXrmzKtqzmy3YR2ZnynXoVE&callback=initMap"></script>
<script type="text/javascript" src="/javascript/map.js"></script>
    
    <section class="resortSection">

    <div class="container" id="resort-container">
        <div class="row">   
             <h1>{{Info.resortName}}</h1>
             </div>
        <div class="row">
            <div class="col-md-8" id="picture-box">
                  <img src="{{Photos.photo1}}" alt="{{Info.resortName}}" class="resort-picture" />
            </div>

            {{!-- this <div class="googleMap"> maybe not needed? --}}
            <div class="col-md-4 googleMap" id="resort-info">
                <ul class="resortDetails">
                    <i class="fa fa-plane fa-2x"></i>
                    <li><span>Airport:</span> {{Info.closestAirport}}</li>
                    <hr/>
                    <i class="fa fa-bed fa-2x"></i>
                    <li><span>Address:</span> <p id="resortAddress">{{Info.address}}</p></li>
                    <hr/>
                    <i class="fa fa-phone fa-2x"></i>
                    <li><span>Phone:</span> <a href="tel:{{Info.phoneNumber}}">{{Info.phoneNumber}}</a></li>
                    <hr/>
                    <i class="fa fa-desktop fa-2x"></i>
                    <li><span>Website:</span> <a href="{{Info.website}}" target="_blank">{{Info.website}}</a></li>
                </ul>
        </div>
        </div>
        <div class="row" id="tab-box">
             <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link tab-link active" id="resort-tab" data-toggle="tab" href="#resort" role="tab" aria-controls="resort" aria-selected="true">Resort Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-link" id="amenities-tab" data-toggle="tab" href="#amenities" role="tab" aria-controls="amenities" aria-selected="false">Amenities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-link" id="weather-tab" data-toggle="tab" href="#weather" role="tab" aria-controls="weather" aria-selected="false">Weather</a>
  </li>
   <li class="nav-item">
    <a class="nav-link tab-link" id="maps-tab" data-toggle="tab" href="#maps" role="tab" aria-controls="maps" aria-selected="false">Map</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link tab-link" id="tours-tab" data-toggle="tab" href="#tours" role="tab" aria-controls="tours" aria-selected="false">Tours</a>
  </li>
   <li class="nav-item">
    <a class="nav-link tab-link " id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
  </li>
</ul>
</div>
 <div class="row">
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade tab-card show active" id="resort" role="tabpanel" aria-labelledby="resort-tab">
       <p>{{Info.description}}</p>
       
  </div>
    <div class="tab-pane fade tab-card" id="amenities" role="tabpanel" aria-labelledby="amenities-tab">
         <p>{{Info.amenities}}</p>
    </div>
    <div class="tab-pane fade tab-card" id="weather" role="tabpanel" aria-labelledby="weather-tab">
      <p>Hello World</p>
        {{!-- <div id='weather'></div> --}}
    </div>
    <div class="tab-pane fade tab-card" id="maps" role="tabpanel" aria-labelledby="maps-tab">  
        <div id="map" style="height: 450px; width: 700px; background-color:blue;"></div>
    </div>

    <div class="tab-pane fade tab-card" id="tours" role="tabpanel" aria-labelledby="tours-tab">
        
        <a href="{{Tours.tourlink1}}" target="_blank">{{Tours.tourlink1}}</a>
            <hr/>
        <a href="{{Tours.tourlink2}}" target="_blank">{{Tours.tourlink2}}</a>
            <hr/>
        <a href="{{Tours.tourlink3}}" target="_blank">{{Tours.tourlink3}}</a>
            <hr/>
        <a href="{{Tours.tourlink4}}" target="_blank">{{Tours.tourlink4}}</a>
            <hr/>
        <a href="{{Tours.tourlink5}}" target="_blank">{{Tours.tourlink5}}</a>
            <hr/>
       
    </div>
    <div class="tab-pane fade tab-card" id="events" role="tabpanel" aria-labelledby="events-tab">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit nunc, vestibulum rhoncus diam in, efficitur scelerisque mi. Fusce enim dolor, vulputate quis tincidunt a, mollis et odio. Nulla eget quam vitae justo maximus auctor eget a risus. Suspendisse urna orci, aliquam ut vestibulum eu, finibus a nunc. Vivamus ac tortor et enim porttitor volutpat. In eget semper justo. Vestibulum at nulla at leo euismod luctus ut eu erat. Duis varius magna quis maximus imperdiet. Integer sit amet velit porta, faucibus est in, luctus magna.

Phasellus sodales ligula in velit semper, non dapibus urna lacinia. Curabitur auctor sit amet quam a facilisis. Vestibulum porttitor quis dolor a lobortis. Ut lectus mauris, placerat in ullamcorper a, aliquam at metus. Fusce sed vestibulum ex. Vestibulum nibh quam, hendrerit molestie lorem et, volutpat molestie risus. Nulla in bibendum ligula. Aliquam erat volutpat. Sed quis dolor dui. Morbi suscipit nibh vel dolor auctor hendrerit.

Nulla facilisi. Mauris iaculis pretium lorem eget gravida. Donec accumsan velit et felis ultricies, sed blandit felis mattis. Nam vel risus velit. Duis egestas magna eget aliquet sagittis. Donec eget dignissim leo, tempus consectetur ipsum. Mauris aliquam felis ut ex volutpat, in faucibus elit bibendum.

Donec sagittis sem nec consectetur euismod. Sed venenatis iaculis diam eget lacinia. Pellentesque scelerisque lacus ut urna rhoncus, sed mollis ex mollis. Aenean ut ante mollis, elementum felis sed, lobortis mi. Curabitur elementum ipsum et ligula rutrum, vitae tempus sapien rutrum. Maecenas placerat turpis neque, ac volutpat metus viverra in. Donec gravida quam arcu, quis rhoncus tellus semper eget. Quisque ultricies, diam non finibus malesuada, nibh felis imperdiet ligula, vel euismod lectus urna ut sapien. Vivamus consequat augue ligula, quis pellentesque lectus commodo vitae. Morbi malesuada massa vitae augue maximus, at ultricies enim porttitor. Praesent dapibus hendrerit lectus.

In vel mattis risus. Donec faucibus condimentum lectus eu auctor. Nullam quis facilisis velit. Duis posuere eros ut consectetur hendrerit. Duis pellentesque, nulla placerat volutpat facilisis, velit lacus feugiat orci, ut aliquam magna est at risus. Nunc semper sapien feugiat risus malesuada viverra. Morbi ac enim mi. Quisque mattis quis purus eget ornare. Aliquam pharetra vestibulum mollis. Nunc ac dictum ex, vitae imperdiet ante. Nam non tortor non ligula mollis pretium. Integer viverra, enim cursus interdum sodales, risus felis interdum ex, quis porta metus quam ut metus. Vestibulum dolor est, dignissim ut vestibulum ut, placerat a risus. Duis vehicula imperdiet erat, at posuere neque vestibulum a.</p>
    </div>
</div>
</div>

</div>
    </section>



    <div class="col-lg-6 offset-lg-3" id="slider">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item carousel-item" data-slide-number="0">
                        <img src="http://placehold.it/1200x480&amp;text=one" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="1">
                        <img src="http://placehold.it/1200x480/888/FFF" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="2">
                        <img src="http://placehold.it/1200x480&amp;text=three" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="3">
                        <img src="http://placehold.it/1200x480&amp;text=four" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="4">
                        <img src="http://placehold.it/1200x480&amp;text=five" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="5">
                        <img src="http://placehold.it/1200x480&amp;text=six" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="6">
                        <img src="http://placehold.it/1200x480&amp;text=seven" class="img-fluid">
                    </div>
                    <div class="item carousel-item" data-slide-number="7">
                        <img src="http://placehold.it/1200x480&amp;text=eight" class="img-fluid">
                    </div>

                    <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>

                </div>


                <ul class="carousel-indicators list-inline">
                    <li class="list-inline-item active">
                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=one" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=two" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=three" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=four" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=five" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=six" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=seven" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
                            <img src="http://placehold.it/80x60&amp;text=eight" class="img-fluid">
                        </a>
                    </li>
                </ul>
        </div>
    </div>


    